/* 
   Optimal text line length for legibility is 65-75 characters. 
   I add an extra 10 to compensate for the fact that ex 
   (the height of the lower case "x", usually equal to it's width 
   and therefor an average character) is narrower than the width of 
   an uppercase letter and any given line will contain a few of them.
   Apply in the style.scss file using "max-width" 
*/
h3, h4, th, legend, h1, h2, h5, h6, dt, label, button,
[type="reset"],
[type="submit"],
[type="button"],
[class*="action-item"] {
  font-family: "Helvetica Neue", helvetica, "Segoe UI", segoe, "Ubuntu", "Droid Sans", "Arial", sans-serif;
}

h3, h4, th, legend {
  font-weight: 400;
}

h1, h2 {
  font-weight: 200;
}

h5, h6, dt, label, button,
[type="reset"],
[type="submit"],
[type="button"],
[class*="action-item"] {
  font-weight: 700;
}
h5 b, h6 b, dt b, label b, button b,
[type="reset"] b,
[type="submit"] b,
[type="button"] b,
[class*="action-item"] b,
h5 strong,
h6 strong,
dt strong,
label strong,
button strong,
[type="reset"] strong,
[type="submit"] strong,
[type="button"] strong,
[class*="action-item"] strong {
  font-weight: 400;
}

blockquote, caption,
tfoot {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

blockquote, caption,
tfoot {
  font-style: italic;
}
blockquote i, caption i,
tfoot i,
blockquote em,
caption em,
tfoot em {
  font-style: normal;
}

pre,
code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
pre i,
code i,
pre em,
code em {
  font-style: normal;
}
pre b,
code b,
pre strong,
code strong {
  font-weight: 400;
}

/* =============================================================================

   GENERIC ELEMENTS
   
   ========================================================================== */
/**
 * Default element styles
 */
html {
  font: 14px/1.5em "Helvetica Neue", helvetica, "Segoe UI", segoe, "Ubuntu", "Droid Sans", "Arial", sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility\9;
  /* Only IE, can mess with Android */
}

html,
body {
  margin: 0;
  padding: 0;
}

/**
 * Block level elements
 */
p,
ul,
ol,
dl,
table,
form,
fieldset,
video,
audio,
figure {
  margin: 0.66667em 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5em;
}

/**
 * Default header styles
 */
h1 {
  font-size: 3.375em;
  margin: 0.31641em 0 0.19753em;
}

h2 {
  font-size: 3.16049em;
  margin: 0.44444em 0 0.2963em;
}

h3 {
  font-size: 2.25em;
  margin: 0.5625em 0 0.31641em;
}

h4 {
  font-size: 1.77778em;
  margin: 0.66667em 0 0.44444em;
}

h5 {
  font-size: 1.5em;
  margin: 1em 0 0.5625em;
}

h6 {
  font-size: 1em;
  margin: 1.5em 0 0.66667em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}

/**
 * Default list styles
 */
ul,
ol,
dl {
  margin-left: 3.16049em;
}
ul ul,
ul ol,
ol ul,
ol ol,
dl ul,
dl ol {
  margin-left: 1.77778em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li,
dt,
dd {
  margin: 0.2963em 0;
}

dd {
  margin-left: 1.77778em;
}

/**
 * Default quote styles
 */
blockquote {
  margin: 0.66667em 1.77778em;
  padding: 0.66667em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
blockquote > * {
  font-size: 1.25em;
}
blockquote > *:first-child {
  margin-top: 0;
}
blockquote > *:last-child {
  margin-bottom: 0;
}

/**
 * Preformatted text styles
 */
pre {
  margin: 0.66667em 1.77778em;
  padding: 0;
}

code {
  display: inline-block;
  padding: 0 0.66667em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #333333;
  color: #96ff73;
}
pre code {
  display: block;
  padding: 0.66667em;
  overflow: auto;
}

/**
 * Default table styles
 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-transform: uppercase;
  background: #f9f9f9;
  text-align: left;
}

th,
td {
  margin: 0;
  padding: 0.66667em;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

/**
 * Default form styles
 */
label {
  display: inline-block;
  margin: 0.2963em 0;
}
label.required {
  color: #f79521;
}
label.error {
  color: #cb2026;
}

fieldset {
  display: block;
  border-style: solid;
  border-width: 0.0625em;
  padding: 1.4375em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border: 1px solid #cccccc;
}
fieldset > :first-child,
fieldset > legend + * {
  margin-top: 0;
}
fieldset > :last-child {
  margin-bottom: 0;
}

legend {
  padding: 0 0.2963em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

button,
input,
textarea {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5em;
  -webkit-transition: background color border, 0.2s;
  -webkit-transition-delay: outline, 0s;
  -moz-transition: background color border outline, 0.2s;
  -o-transition: background color border outline, 0.2s;
  transition: background, color, border, outline, 0.2s;
  outline: 0 solid #bee5f6;
  font-family: "Helvetica Neue", helvetica, "Segoe UI", segoe, "Ubuntu", "Droid Sans", "Arial", sans-serif;
}
button:focus, button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline-width: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  display: block;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.2963em 0;
  padding: 0.66667em;
  max-width: 100%;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 1em;
  background: white;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
input[type="color"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="file"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="range"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
  font-family: "Helvetica Neue", helvetica, "Segoe UI", segoe, "Ubuntu", "Droid Sans", "Arial", sans-serif;
  font-weight: 400;
}
input[type="color"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="file"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="range"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc;
  font-family: "Helvetica Neue", helvetica, "Segoe UI", segoe, "Ubuntu", "Droid Sans", "Arial", sans-serif;
  font-weight: 400;
}
input[type="color"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="file"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="range"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc;
  font-family: "Helvetica Neue", helvetica, "Segoe UI", segoe, "Ubuntu", "Droid Sans", "Arial", sans-serif;
  font-weight: 400;
}
input[type="color"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="file"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="range"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc;
  font-family: "Helvetica Neue", helvetica, "Segoe UI", segoe, "Ubuntu", "Droid Sans", "Arial", sans-serif;
  font-weight: 400;
}
input[type="color"].required,
input[type="date"].required,
input[type="datetime"].required,
input[type="datetime-local"].required,
input[type="email"].required,
input[type="file"].required,
input[type="month"].required,
input[type="number"].required,
input[type="password"].required,
input[type="range"].required,
input[type="search"].required,
input[type="tel"].required,
input[type="text"].required,
input[type="time"].required,
input[type="url"].required,
input[type="week"].required,
select.required,
textarea.required {
  color: #f79521;
  border-color: #f79521;
}
input[type="color"].error,
input[type="date"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="email"].error,
input[type="file"].error,
input[type="month"].error,
input[type="number"].error,
input[type="password"].error,
input[type="range"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="text"].error,
input[type="time"].error,
input[type="url"].error,
input[type="week"].error,
select.error,
textarea.error {
  color: #cb2026;
  border-color: #cb2026;
}
input[type="color"]:focus, input[type="color"]:active,
input[type="date"]:focus,
input[type="date"]:active,
input[type="datetime"]:focus,
input[type="datetime"]:active,
input[type="datetime-local"]:focus,
input[type="datetime-local"]:active,
input[type="email"]:focus,
input[type="email"]:active,
input[type="file"]:focus,
input[type="file"]:active,
input[type="month"]:focus,
input[type="month"]:active,
input[type="number"]:focus,
input[type="number"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="range"]:focus,
input[type="range"]:active,
input[type="search"]:focus,
input[type="search"]:active,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="text"]:focus,
input[type="text"]:active,
input[type="time"]:focus,
input[type="time"]:active,
input[type="url"]:focus,
input[type="url"]:active,
input[type="week"]:focus,
input[type="week"]:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: white;
  border-color: #bee5f6;
}

textarea {
  display: block;
  width: 100%;
  height: auto;
}

input[type="color"]::-webkit-color-swatch-wrapper, input[type="color"]::-webkit-color-swatch {
  position: relative;
  top: -0.2963em;
  left: -0.2963em;
  width: 3em;
  height: 1.5em;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
  display: none;
}

input[type="range"] {
  -webkit-appearance: slider-horizontal;
  color: #333333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  select,
  select[size="0"],
  select[size="1"] {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: white;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border: 0;
  }
}
/**
 * Default inline text styles
 */
sub,
sup,
small {
  font-size: 0.66667em;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

i,
em {
  font-style: italic;
}

bold,
strong {
  font-weight: 700;
}

/**
 * Default link styles
 */
a {
  -webkit-transition: background color border, 0.2s;
  -webkit-transition-delay: outline, 0s;
  -moz-transition: background color border outline, 0.2s;
  -o-transition: background color border outline, 0.2s;
  transition: background, color, border, outline, 0.2s;
}
a, a:link {
  color: #2fa6e5;
  text-decoration: none;
}
a:visited {
  color: #008fdc;
}
a:hover {
  color: #007ec0;
  text-decoration: underline;
}

/**
 * Default media styles
 */
img,
audio,
video {
  display: block;
  margin: 0.66667em auto;
  max-width: 100%;
  height: auto;
}

audio {
  min-height: 1.5em;
}

/**
 * Button styles
 */
/* Common styles for all buttons. */
button,
[type="reset"],
[type="submit"],
[type="button"],
[class*="action-item"], [class*="action-item-small"], [class*="action-item-large"] {
  -webkit-appearance: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.2963em;
  max-width: 100%;
  overflow: visible;
  line-height: 1em;
  vertical-align: baseline;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  /* Reset all button fonts to a similar baseline in webkit. */
  font: -webkit-small-control;
  font-family: "Helvetica Neue", helvetica, "Segoe UI", segoe, "Ubuntu", "Droid Sans", "Arial", sans-serif;
  font-weight: 900;
  letter-spacing: .06em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
button:focus,
[type="reset"]:focus,
[type="submit"]:focus,
[type="button"]:focus,
[class*="action-item"]:focus, [class*="action-item-small"]:focus, [class*="action-item-large"]:focus, button:hover,
[type="reset"]:hover,
[type="submit"]:hover,
[type="button"]:hover,
[class*="action-item"]:hover, [class*="action-item-small"]:hover, [class*="action-item-large"]:hover {
  text-decoration: none;
}
button:active,
[type="reset"]:active,
[type="submit"]:active,
[type="button"]:active,
[class*="action-item"]:active, [class*="action-item-small"]:active, [class*="action-item-large"]:active, button:focus,
[type="reset"]:focus,
[type="submit"]:focus,
[type="button"]:focus,
[class*="action-item"]:focus, [class*="action-item-small"]:focus, [class*="action-item-large"]:focus {
  text-decoration: none;
  -webkit-box-shadow: 0 0 0 0.2963em rgba(204, 204, 204, 0.4);
  -moz-box-shadow: 0 0 0 0.2963em rgba(204, 204, 204, 0.4);
  box-shadow: 0 0 0 0.2963em rgba(204, 204, 204, 0.4);
}
button::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[class*="action-item"]::-moz-focus-inner, [class*="action-item-small"]::-moz-focus-inner, [class*="action-item-large"]::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin-top: -2px;
  margin-bottom: -2px;
}

/* Dimensions for the default button type. */
button,
[type="reset"],
[type="submit"],
[type="button"],
[class*="action-item"] {
  padding: 0.66667em 1em;
  font-size: 1em;
}

/* Dimensions for the small button type. */
[class*="action-item-small"] {
  padding: 0.66667em 1em;
  font-size: 0.66667em;
}

/* Dimensions for the large button type. */
[class*="action-item-large"] {
  padding: 0.66667em 1em;
  font-size: 1.5em;
}

button,
[type="reset"],
[type="submit"],
[type="button"],
[class*="action-item"] {
  background: #cccccc;
  text-shadow: 0 1px 0 #efefef;
}
button,
[type="reset"],
[type="submit"],
[type="button"],
[class*="action-item"], button:link,
[type="reset"]:link,
[type="submit"]:link,
[type="button"]:link,
[class*="action-item"]:link, button:visited,
[type="reset"]:visited,
[type="submit"]:visited,
[type="button"]:visited,
[class*="action-item"]:visited {
  color: #1a1a1a;
}
button:hover,
[type="reset"]:hover,
[type="submit"]:hover,
[type="button"]:hover,
[class*="action-item"]:hover {
  color: #242424;
  background: #d6d6d6;
  text-shadow: 0 1px 0 #f2f2f2;
}
button:focus,
[type="reset"]:focus,
[type="submit"]:focus,
[type="button"]:focus,
[class*="action-item"]:focus, button:active,
[type="reset"]:active,
[type="submit"]:active,
[type="button"]:active,
[class*="action-item"]:active {
  background: #cccccc;
}
button[disabled],
[disabled][type="reset"],
[disabled][type="submit"],
[disabled][type="button"],
[disabled][class*="action-item"] {
  color: #999999;
  background: #cccccc;
  cursor: default;
  text-shadow: none;
}

.action-item-active, .action-item-active[type="reset"], .action-item-active[type="submit"], .action-item-active[type="button"],
.action-item-small-active,
.action-item-small-active[type="reset"],
.action-item-small-active[type="submit"],
.action-item-small-active[type="button"],
.action-item-large-active,
.action-item-large-active[type="reset"],
.action-item-large-active[type="submit"],
.action-item-large-active[type="button"] {
  background: #a3a3a3;
  text-shadow: 0 1px 0 #303030;
}
.action-item-active, .action-item-active[type="reset"], .action-item-active[type="submit"], .action-item-active[type="button"],
.action-item-small-active,
.action-item-small-active[type="reset"],
.action-item-small-active[type="submit"],
.action-item-small-active[type="button"],
.action-item-large-active,
.action-item-large-active[type="reset"],
.action-item-large-active[type="submit"],
.action-item-large-active[type="button"], .action-item-active:link,
.action-item-small-active:link,
.action-item-large-active:link, .action-item-active:visited,
.action-item-small-active:visited,
.action-item-large-active:visited {
  color: white;
}
.action-item-active:hover,
.action-item-small-active:hover,
.action-item-large-active:hover {
  color: white;
  background: #b5b5b5;
  text-shadow: 0 1px 0 #363636;
}
.action-item-active:focus,
.action-item-small-active:focus,
.action-item-large-active:focus, .action-item-active:active,
.action-item-small-active:active,
.action-item-large-active:active {
  background: #a3a3a3;
}
[disabled].action-item-active,
[disabled].action-item-small-active,
[disabled].action-item-large-active {
  color: #d6d6d6;
  background: #a3a3a3;
  cursor: default;
  text-shadow: none;
}

.action-item-primary, .action-item-primary[type="reset"], .action-item-primary[type="submit"], .action-item-primary[type="button"],
.action-item-small-primary,
.action-item-small-primary[type="reset"],
.action-item-small-primary[type="submit"],
.action-item-small-primary[type="button"],
.action-item-large-primary,
.action-item-large-primary[type="reset"],
.action-item-large-primary[type="submit"],
.action-item-large-primary[type="button"], #edit-submit,
.form-submit {
  background: #2fa6e5;
  text-shadow: 0 1px 0 #0e3144;
}
.action-item-primary, .action-item-primary[type="reset"], .action-item-primary[type="submit"], .action-item-primary[type="button"],
.action-item-small-primary,
.action-item-small-primary[type="reset"],
.action-item-small-primary[type="submit"],
.action-item-small-primary[type="button"],
.action-item-large-primary,
.action-item-large-primary[type="reset"],
.action-item-large-primary[type="submit"],
.action-item-large-primary[type="button"], #edit-submit,
.form-submit, .action-item-primary:link,
.action-item-small-primary:link,
.action-item-large-primary:link, #edit-submit:link,
.form-submit:link, .action-item-primary:visited,
.action-item-small-primary:visited,
.action-item-large-primary:visited, #edit-submit:visited,
.form-submit:visited {
  color: white;
}
.action-item-primary:hover,
.action-item-small-primary:hover,
.action-item-large-primary:hover, #edit-submit:hover,
.form-submit:hover {
  color: white;
  background: #58b7ea;
  text-shadow: 0 1px 0 #1a3646;
}
.action-item-primary:focus,
.action-item-small-primary:focus,
.action-item-large-primary:focus, #edit-submit:focus,
.form-submit:focus, .action-item-primary:active,
.action-item-small-primary:active,
.action-item-large-primary:active, #edit-submit:active,
.form-submit:active {
  background: #2fa6e5;
}
[disabled].action-item-primary,
[disabled].action-item-small-primary,
[disabled].action-item-large-primary, [disabled]#edit-submit,
[disabled].form-submit {
  color: #bdbdbd;
  background: #8a8a8a;
  cursor: default;
  text-shadow: none;
}

.action-item-primary-active, .action-item-primary-active[type="reset"], .action-item-primary-active[type="submit"], .action-item-primary-active[type="button"],
.action-item-small-primary-active,
.action-item-small-primary-active[type="reset"],
.action-item-small-primary-active[type="submit"],
.action-item-small-primary-active[type="button"],
.action-item-large-primary-active,
.action-item-large-primary-active[type="reset"],
.action-item-large-primary-active[type="submit"],
.action-item-large-primary-active[type="button"] {
  background: #008fdc;
  text-shadow: 0 1px 0 #002a42;
}
.action-item-primary-active, .action-item-primary-active[type="reset"], .action-item-primary-active[type="submit"], .action-item-primary-active[type="button"],
.action-item-small-primary-active,
.action-item-small-primary-active[type="reset"],
.action-item-small-primary-active[type="submit"],
.action-item-small-primary-active[type="button"],
.action-item-large-primary-active,
.action-item-large-primary-active[type="reset"],
.action-item-large-primary-active[type="submit"],
.action-item-large-primary-active[type="button"], .action-item-primary-active:link,
.action-item-small-primary-active:link,
.action-item-large-primary-active:link, .action-item-primary-active:visited,
.action-item-small-primary-active:visited,
.action-item-large-primary-active:visited {
  color: white;
}
.action-item-primary-active:hover,
.action-item-small-primary-active:hover,
.action-item-large-primary-active:hover {
  color: white;
  background: #33a5e3;
  text-shadow: 0 1px 0 #0f3144;
}
.action-item-primary-active:focus,
.action-item-small-primary-active:focus,
.action-item-large-primary-active:focus, .action-item-primary-active:active,
.action-item-small-primary-active:active,
.action-item-large-primary-active:active {
  background: #008fdc;
}
[disabled].action-item-primary-active,
[disabled].action-item-small-primary-active,
[disabled].action-item-large-primary-active {
  color: #8ea7b4;
  background: #587584;
  cursor: default;
  text-shadow: none;
}

.action-item-alternate, .action-item-alternate[type="reset"], .action-item-alternate[type="submit"], .action-item-alternate[type="button"],
.action-item-small-alternate,
.action-item-small-alternate[type="reset"],
.action-item-small-alternate[type="submit"],
.action-item-small-alternate[type="button"],
.action-item-large-alternate,
.action-item-large-alternate[type="reset"],
.action-item-large-alternate[type="submit"],
.action-item-large-alternate[type="button"] {
  background: #f05724;
  text-shadow: 0 1px 0 #481a0a;
}
.action-item-alternate, .action-item-alternate[type="reset"], .action-item-alternate[type="submit"], .action-item-alternate[type="button"],
.action-item-small-alternate,
.action-item-small-alternate[type="reset"],
.action-item-small-alternate[type="submit"],
.action-item-small-alternate[type="button"],
.action-item-large-alternate,
.action-item-large-alternate[type="reset"],
.action-item-large-alternate[type="submit"],
.action-item-large-alternate[type="button"], .action-item-alternate:link,
.action-item-small-alternate:link,
.action-item-large-alternate:link, .action-item-alternate:visited,
.action-item-small-alternate:visited,
.action-item-large-alternate:visited {
  color: white;
}
.action-item-alternate:hover,
.action-item-small-alternate:hover,
.action-item-large-alternate:hover {
  color: white;
  background: #f3784f;
  text-shadow: 0 1px 0 #482417;
}
.action-item-alternate:focus,
.action-item-small-alternate:focus,
.action-item-large-alternate:focus, .action-item-alternate:active,
.action-item-small-alternate:active,
.action-item-large-alternate:active {
  background: #f05724;
}
[disabled].action-item-alternate,
[disabled].action-item-small-alternate,
[disabled].action-item-large-alternate {
  color: #c2bbb8;
  background: #928682;
  cursor: default;
  text-shadow: none;
}

.action-item-alternate-active, .action-item-alternate-active[type="reset"], .action-item-alternate-active[type="submit"], .action-item-alternate-active[type="button"],
.action-item-small-alternate-active,
.action-item-small-alternate-active[type="reset"],
.action-item-small-alternate-active[type="submit"],
.action-item-small-alternate-active[type="button"],
.action-item-large-alternate-active,
.action-item-large-alternate-active[type="reset"],
.action-item-large-alternate-active[type="submit"],
.action-item-large-alternate-active[type="button"] {
  background: #dc3700;
  text-shadow: 0 1px 0 #421000;
}
.action-item-alternate-active, .action-item-alternate-active[type="reset"], .action-item-alternate-active[type="submit"], .action-item-alternate-active[type="button"],
.action-item-small-alternate-active,
.action-item-small-alternate-active[type="reset"],
.action-item-small-alternate-active[type="submit"],
.action-item-small-alternate-active[type="button"],
.action-item-large-alternate-active,
.action-item-large-alternate-active[type="reset"],
.action-item-large-alternate-active[type="submit"],
.action-item-large-alternate-active[type="button"], .action-item-alternate-active:link,
.action-item-small-alternate-active:link,
.action-item-large-alternate-active:link, .action-item-alternate-active:visited,
.action-item-small-alternate-active:visited,
.action-item-large-alternate-active:visited {
  color: white;
}
.action-item-alternate-active:hover,
.action-item-small-alternate-active:hover,
.action-item-large-alternate-active:hover {
  color: white;
  background: #e35f33;
  text-shadow: 0 1px 0 #441c0f;
}
.action-item-alternate-active:focus,
.action-item-small-alternate-active:focus,
.action-item-large-alternate-active:focus, .action-item-alternate-active:active,
.action-item-small-alternate-active:active,
.action-item-large-alternate-active:active {
  background: #dc3700;
}
[disabled].action-item-alternate-active,
[disabled].action-item-small-alternate-active,
[disabled].action-item-large-alternate-active {
  color: #b4988e;
  background: #846358;
  cursor: default;
  text-shadow: none;
}

button,
[type="reset"],
[type="submit"],
[type="button"],
[class*="action-item"] {
  max-width: 100%;
}
button[class*="action-item-large"],
[type="reset"][class*="action-item-large"],
[type="submit"][class*="action-item-large"],
[type="button"][class*="action-item-large"],
[class*="action-item"][class*="action-item-large"] {
  text-shadow: none;
  font-weight: 400;
}

/**
 * Message styles
 */
[class*="message-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.66667em 0;
  padding: 1em;
  border-width: 1px 1px 1px 0.44444em;
  border-style: solid;
  border-color: #cccccc;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
[class*="message-"] > :first-child {
  margin-top: 0;
}
[class*="message-"] > :last-child {
  margin-bottom: 0;
}

.message-status {
  border-left-color: #29aae2;
  background: #fff;
}

.message-success {
  border-left-color: #82bb41;
  background: #fff;
}

.message-warning {
  border-left-color: #f79521;
  background: #fff;
}

.message-error {
  border-left-color: #cb2026;
  background: #fff;
}

body {
  background: white url('../images/spark_bg_tile.png?1377114396');
}

p,
blockquote,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  max-width: 85ex;
}

img {
  margin: 0.66667em 0;
}

legend {
  padding: 0;
}

h2,
h3 {
  color: #555;
}

textarea {
  height: 200px;
}

fieldset {
  border: 0px solid transparent;
  margin: 1em 0;
  padding: 0em;
}

tr,
td {
  background-color: transparent;
}

/* =============================================================================

   DRUPAL ADDMIN INTERACTION PATTERNS
   
   ========================================================================== */
/* SKIP LINK */
#skip-link {
  left: 50%;
  /* LTR */
  margin-left: -5.25em;
  /* LTR */
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50;
}

#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  border-radius: 0 0 10px 10px;
  color: white;
  display: block;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px;
  /* LTR */
  text-decoration: none;
}

#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}

/* MESSAGES */
div.messages {
  background-position: 8px 8px;
  /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 40px;
  /* LTR */
}

div.status {
  background-image: url(../images/success.svg);
  border-color: #ddd;
  border-left: 4px solid #82bb41;
  /* ltr */
}

div.status,
.ok {
  color: #333333;
}

div.status,
table tr.ok {
  background-color: #fff;
}

div.warning {
  background-image: url(../images/warning.svg);
  border-color: #ddd;
  border-left: 4px solid #f79521;
  /* ltr */
}

div.warning,
.warning {
  color: #333333;
}

div.warning,
table tr.warning {
  background-color: #fff;
  border-left: 4px solid #f79521;
  /* ltr */
}

div.error {
  background-image: url(../images/error.svg);
  border-color: #ddd;
  border-left: 4px solid #cb2026;
  /* ltr */
}

div.error,
.error {
  color: #333333;
}

div.error,
table tr.error {
  background-color: #fff;
  border-left: 4px solid #cb2026;
  /* ltr */
}

/* FORM ELEMENTS */
#edit-cancel {
  background-color: #555;
}

.form-item {
  margin-right: .25em;
}

#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

.form-select {
  max-width: 300px;
  background: white url("../images/select_sprite.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 45px;
}

input[type="text"] {
  max-width: 300px;
}

.machine-name-label {
  margin-left: 10px;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 97% 10px;
  /* LTR */
  background-size: 22px;
  -webkit-transition: none;
}

html.js input.throbbing {
  background-position: 97% -19px;
  /* LTR */
  background-size: 22px;
}

.form-managed-file .form-file, .form-managed-file .form-submit {
  margin: 0;
  display: inline-block;
  margin-right: .5em;
  line-height: 1em;
  /* corrects vertical alignment of default filename text */
}

ul.tips, div.description, .form-item div.description {
  font-size: 0.9em;
  line-height: 1.231em;
  margin: 5px 0;
  color: #aaa;
}

ul.tips:hover, div.description:hover, .form-item div.description:hover {
  color: inherit;
  transition: all 1s;
}

/* ADMIN LISTS */
div.admin {
  padding: 0;
}

.block .body ul {
  margin: 0;
}

div.admin-panel {
  margin: 0 0 2em;
  padding: 0 20px 0 0;
}

div.admin-panel .body {
  padding: 0;
}

ul.admin-list {
  margin: 0 0 2em;
  padding: 0;
}

.admin-panel h3 {
  font-size: 1.5em;
  margin: 0 0 15px 30px;
  padding: 0 0 5px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  font-weight: 200;
}

ul.admin-list li {
  background: url('../images/list-item.png?1377114396') no-repeat scroll 0 0 transparent;
  list-style-image: none;
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0 0 0 2.5em;
}

ul.admin-list li a {
  font-size: 1em;
  font-weight: 900;
}

ul.admin-list .label {
  color: #555;
  font-size: 1.5em;
}

.compact-link {
  text-align: right;
  margin: -1em 0 0;
  /* pushes link up into the padding of #content so list has an even margin all around */
}

ul.admin-list.compact li {
  background: none;
  margin: 0;
}

/* CONTEXTUAL LINKS */
.contextual-links-trigger {
  transition: none;
}

/* SHORTCUTS */
div.add-or-remove-shortcuts {
  float: right;
  margin-top: -50px;
}

div.add-or-remove-shortcuts a span.icon {
  display: block;
  width: 24px;
  background: transparent url("../images/no_shortcut.svg") no-repeat scroll 0 0;
  height: 24px;
  float: right;
  margin-left: 8px;
}

div.add-shortcut a:focus span.icon,
div.add-shortcut a:hover span.icon {
  background: transparent url("../images/shortcut.svg") no-repeat scroll 0 0;
  -webkit-trnsition: all 1s;
}

div.remove-shortcut a span.icon {
  background: transparent url("../images/no_shortcut.svg") no-repeat scroll 0 0;
}

div.remove-shortcut a:focus span.icon,
div.remove-shortcut a:hover span.icon {
  background: transparent url("../images/no_shortcut.svg") no-repeat scroll 0 0;
  -webkit-trnsition: all 1s;
}

div.add-or-remove-shortcuts a span.text {
  padding-top: 8px;
}

div.add-or-remove-shortcuts a:focus span.text,
div.add-or-remove-shortcuts a:hover span.text {
  background-color: inherit;
  font-size: .9em;
  color: #cccccc;
  -webkit-trnsition: all 1s;
}

/* TABS */
.tabs.primary {
  margin: 1em 0 0;
  padding: 0;
}

ul.primary {
  border: 0 solid transparent;
  padding: 0;
  line-height: 2.09em;
  background: none;
}

ul.primary li a {
  font-size: 1.2em;
  padding: .5em 0;
  margin: 0 1em 0 .1em;
  /* LTR */
  border: 0px solid transparent;
  color: #ccc;
  vertical-align: text-bottom;
  background: none;
}

ul.primary li.active a {
  color: white;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 4px solid;
  border-color: #f05724;
  border-left: 0px solid transparent;
  background: none;
}

ul.primary li a:hover {
  color: white;
  background: none;
  border-bottom: 4px solid;
  border-color: #f05724;
}

ul.secondary {
  margin: 0 -3.5em;
  padding: .5em 3.5em;
  background-color: #3b3b3b;
  box-shadow: 0px 10px 20px #f5f5f5;
}

ul.secondary li {
  border: 0 solid transparent;
  margin: 0 1em 0 .1em;
  /* LTR */
  padding: 0;
  font-weight: bold;
}

ul.secondary li a {
  font-size: .9em;
  line-height: 20px;
  color: #CCC;
  padding: 0;
}

.secondary a:hover {
  color: white;
}

ul.secondary a.active {
  border: 0 solid transparent;
  color: white;
}

/* ACTION LINKS */
ul.action-links {
  margin: 0;
}

.action-links li {
  display: inline-block;
  margin-right: .5em;
  margin-left: 0;
  font-size: 1.2em;
  font-weight: 900;
}

.action-links li a:hover {
  text-decoration: none;
}

.action-links li:before {
  content: "\2295";
  font-size: 2em;
  top: .1em;
  color: #999999;
  position: relative;
  margin-right: .1em;
}

/* SECONDARY LINKS */
#secondary-links ul.links li {
  padding: 0 10px 10px 0;
  /* LTR */
}

#secondary-links ul.links li a {
  font-size: 0.923em;
  color: white;
  text-align: center;
  padding: 5px;
  overflow: hidden;
}

ul.links li,
ul.inline li {
  padding-right: 1em;
  /* LTR */
}

ul.inline li {
  display: inline;
}

/* FIELDSET */
.fieldset-legend {
  font-size: 1.5em;
  font-weight: 200;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.fieldset-wrapper .form-select {
  display: inline-block;
  margin-right: .5em;
}

/* SUMMARY AND DETAILS */
summary:focus {
  outline: 0px solid transparent;
  /*hides browser focus border on this element since it contains no user action. Should not effect a11y.*/
}

summary {
  background: url("../misc/menu-expanded.png") no-repeat scroll 0 100% #eeeeee;
  height: 2em;
  border: 0px solid transparent;
  padding: 0 10px;
  background: #f5f5f5;
  border-radius: 4px 4px 0 0;
  line-height: 2em;
}

summary::-webkit-details-marker {
  display: none;
}

.collapse-processed > summary:before {
  background-position: 0 70%;
  height: 1.6em;
  width: 1em;
}

.collapse-processed > summary {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

details {
  border: 0px solid transparent;
}

details > .details-wrapper,
.container-inline .details-wrapper {
  padding: 10px;
  border: solid #eee;
  border-width: 0px 1px 1px 1px;
  margin: 0 0 1em;
}

/* FILTERS */
.filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
}

.filter-wrapper .fieldset-wrapper {
  padding: 0px;
}

.filter-wrapper .form-item,
.filter-wrapper .filter-guidelines,
.filter-wrapper .filter-help {
  font-size: 0.9em;
  padding: 0;
}

#edit-filters {
  float: left;
  display: inline-block;
  width: 60%;
}

#edit-options {
  float: left;
  display: inline-block;
  width: auto;
}

.exposed-filters .form-item {
  float: left;
  /* LTR */
  line-height: 3.2em;
  margin-bottom: .5em;
}

.exposed-filters .form-item label {
  float: left;
  /* LTR */
  font-weight: normal;
  margin-right: 0.25em;
  width: inherit;
  padding-right: 5px;
}

.exposed-filters .filters {
  float: none;
  margin-right: 0;
  width: 100%;
}

.exposed-filters .current-filters ul, .exposed-filters .block ul, .exposed-filters .item-list ul {
  margin: 0;
}

div.exposed-filters .container-inline .form-actions, .container-inline.form-actions {
  margin: 0;
}

.exposed-filters .additional-filters {
  padding: 12px 0 0 0;
  margin-right: 0.2em;
}

div.item-list ul.current-filters {
  margin: .5em 0;
}

ul.current-filters li {
  margin: 1em 0;
  display: inline;
}

.exposed-filters .form-item label {
  padding: .8em 0;
  line-height: normal;
}

div.exposed-filters div#edit-actions {
  float: left;
  display: inline-block;
}

div.exposed-filters div#edit-actions .form-select {
  max-width: 300px;
}

.container-inline {
  border: none;
}

/* TIPS */
ul.tips,
div.description,
.form-item div.description {
  font-size: 0.923em;
  line-height: 1.231em;
  margin: 5px 0;
}

ul.tips li {
  margin: 0.25em 0;
  list-style: none;
}

body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em;
  /* LTR */
}

/* TABLES */
tr.odd,
tr.even {
  background-color: transparent;
}

tr.drag {
  background-color: #feffd5;
}

a.tabledrag-handle .handle {
  background: url(../images/drag-handle.png) no-repeat 6px 8px;
  height: 20px;
  margin: -0.4em 0.5em;
  /* LTR */
  padding: 0.42em 0.5em;
  /* LTR */
  width: 13px;
}

tr.drag-previous {
  background-color: #feffd5;
}

tr.region-title {
  background-color: transparent;
  border: 0px solid transparent;
}

table th.active img {
  position: absolute;
  top: 3px;
  right: 3px;
  /* LTR */
}

table td.active {
  background-color: #e5e5e5;
}

table tr.selected td.active,
table tr.selected td {
  background: #f9f9f9;
}

table td ul.inline {
  margin: 0;
}

table.system-status-report tr {
  border-bottom: 1px solid #ddd;
}

table.system-status-report tr.ok {
  background-color: transparent;
  color: #82bb41;
}

table.system-status-report tr.info {
  background-color: transparent;
  color: #29aae2;
}

table.system-status-report tr.warning {
  background-color: transparent;
  color: #f79521;
}

table.system-status-report tr.error {
  background-color: transparent;
  color: #cb2026;
}

table.sticky-header {
  z-index: 2;
}

#system-modules label {
  font-weight: normal;
}

#system-modules .expand .inner {
  outline: 0px solid transparent;
}

tr.odd .form-item,
tr.even .form-item,
tr.odd .form-actions,
tr.even .form-actions {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.tabledrag-changed:after {
  content: " previewing, save blocks to confirm";
  color: #f79521;
}

/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
*/
tr td:last-child {
  border-right: none;
  /* LTR */
}

/* VERTICAL TABS */
div.vertical-tabs fieldset {
  box-shadow: none;
}

.vertical-tabs:focus,
ul.vertical-tabs-list:focus,
li.selected:focus {
  outline: 0px solid transparent;
}

.vertical-tabs details > .details-wrapper {
  border: 1px solid transparent;
  padding: 10px 20px;
}

.vertical-tabs-pane div.form-item {
  display: block;
}

div.vertical-tabs ul li.vertical-tab-button a:hover,
div.vertical-tabs ul li.vertical-tab-button a:focus {
  background: #e9e9e9;
  outline: 0px solid transparent;
}

.vertical-tabs-list li a:first-child {
  height: 40px;
}

/* DROPBUTTON */
.js .dropbutton-widget {
  background: #f5f5f5;
  border: 0px solid transparent;
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.dropbutton-widget .dropbutton {
  line-height: 1.8em;
}

.js .dropbutton-widget a {
  color: #555;
}

.js .dropbutton-widget a:hover {
  color: #000;
}

.dropbutton-multiple .dropbutton {
  border-right: 1px solid #ddd;
}

.dropbutton-toggle button {
  background: none;
}

.dropbutton .secondary-action {
  border-top: 1px solid #ddd;
}

tr.selected > .dropbutton-widget {
  background: white;
}

/* OVERLAY (not recommended for use with Ember theme) */
div#overlay {
  min-width: 200px;
  max-width: 800px;
}

#overlay-content {
  padding: 0;
}

.overlay #branding {
  background-color: #303030;
  padding: 20px 20px 0px;
  border-bottom: 1px solid #ddd;
}

#overlay-titlebar,
.overlay .breadcrumb,
.overlay .region-help,
.overlay #left,
.overlay #footer {
  display: none;
}

.overlay #content {
  padding: 0;
  margin: 0;
  border: 0 solid transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.overlay .content,
.overlay .actions {
  padding: 20px 20px 0;
}

.overlay #page {
  margin: 0;
  padding: 0;
}

.overlay #content {
  padding: 0;
}

/* =============================================================================
   
   STYLING SPECIFIC TO REGIONS
   
   ========================================================================== */
/* Branding region (includes page title, shortcut, contextual links and breadcrumb) */
#branding {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #303030;
  padding: 1em 3.16049em 0;
  width: 100%;
  color: #cccccc;
}

#branding h1.page-title {
  margin-top: 0;
  font-size: 2.75em;
  font-weight: 200;
}

/* CONSOLE REGION */
#console {
  margin: 9px 0 10px;
}

/* HELP REGION */
#help {
  margin: 1em 0;
  line-height: 1.6em;
}

.region .region-help ul {
  margin: 0 0 20px 0;
}

#help div.more-help-link {
  text-align: right;
  /* LTR */
}

.region-help {
  margin-bottom: 1em;
}

.region-help p {
  font-size: 1.1em;
  color: #555;
}

/* PAGE REGION */
#content {
  clear: left;
}

#page {
  margin: 1em 3.16049em 0;
  position: relative;
}

/* Update status */
.versions table.version {
  border: none;
}

/* =============================================================================
   
   STYLING SPECIFIC TO UIs
   
   ========================================================================== */
/* MAINTENANCE UI */
body.in-maintenance #sidebar-first {
  float: left;
  /* LTR */
  width: 200px;
}

body.in-maintenance #content {
  clear: none;
  float: right;
  /* LTR */
  padding-right: 20px;
  /* LTR */
  width: 550px;
}

body.in-maintenance #page {
  margin: 0 auto;
  overflow: auto;
  padding-top: 2em;
  width: 850px;
}

body.in-maintenance #branding h1 {
  float: none;
  margin: 0 auto;
  width: 770px;
}

body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}

body.in-maintenance div.form-item:after {
  clear: none;
  content: "";
  display: none;
}

body.in-maintenance .form-submit {
  display: block;
}

body.in-maintenance #logo {
  margin-bottom: 1.5em;
}

ol.task-list {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0;
  /* LTR */
}

ol.task-list li {
  color: #adadad;
  padding: 0.5em 1em 0.5em 20px;
  /* LTR */
}

ol.task-list li.active {
  background: transparent url('../images/task-item.png?1377114396') no-repeat 3px 50%;
  /* LTR */
  color: #000;
  padding: 0.5em 1em 0.5em 20px;
  /* LTR */
}

ol.task-list li.done {
  background: transparent url('../images/task-check.png?1377114396') no-repeat 0 50%;
  color: green;
}

/* DASHBOARD UI */
#dashboard .region {
  margin: 0;
}

#dashboard div.block h2 {
  font-size: 1em;
  margin: 0;
  padding: 3px 10px;
}

#dashboard div.block div.content {
  padding: 10px 10px 20px;
  /* LTR */
}

#dashboard div.block div.content ul.menu {
  margin-left: 20px;
  /* LTR */
}

#dashboard .dashboard-region .block {
  border: 1px solid #ddd;
}

#dashboard div#dashboard_main {
  margin-right: 1.5%;
  width: 48%;
}

#dashboard div#dashboard_sidebar {
  width: 48%;
}

#dashboard .canvas-content a.button {
  color: white;
  margin: 10px 0 0;
  text-decoration: none;
}

#dashboard .ui-sortable {
  border: 2px dotted #ccc;
  padding: 10px 10px 0;
}

#dashboard #disabled-blocks .region {
  background-color: transparent;
  border: none;
  padding: 0;
}

#dashboard #disabled-blocks .block {
  background-color: #666;
}

#dashboard #disabled-blocks .block, #dashboard .block-placeholder {
  background-color: #666;
  border-radius: 4px;
  float: left;
  margin: 3px 6px 3px 0;
  padding: 5px 4px 5px 8px;
}

/* CONTENT TYPES UI */
#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}

#field-display-overview tr.field-formatter-settings-changed {
  background: #ffb;
}

#field-display-overview tr.drag {
  background: #fe7;
}

#field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2;
}

#field-display-overview .field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}

#field-display-overview .field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

/* PEOPLE UI */
#permissions td.module {
  background-color: #f5f5f5;
  background-image: none;
  font-weight: bold;
}

/* APPEARANCE UI */
.theme-default .screenshot,
.theme-selector .screenshot {
  border: 2px solid #999;
  padding: 0px;
}

.theme-selector .no-screenshot {
  background: #ddd;
}

img.screenshot {
  margin: 0;
}

.theme-default h3 {
  font-weight: normal;
  color: #f05724;
}

.system-themes-list h2 {
  font-size: 2.25em;
}

/* =============================================================================
   
   STYLING SPECIFIC TO BLOCKS
   
   ========================================================================== */
/* Recent content block */
#dashboard div#block-node-recent div.content {
  padding: 0;
}

#block-node-recent table,
#block-node-recent tr {
  border: none;
}

#block-node-recent .more-link {
  padding: 0 5px 5px 0;
  /* LTR */
}

/* User login block */
#user-login-form .openid-links {
  margin-left: 0;
  /* LTR */
}

#user-login-form .openid-links .user-link {
  margin-left: 1.5em;
  /* LTR */
}

/* Disable overlay message */
#overlay-disable-message {
  background-color: #addafc;
}

#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000;
}

#overlay-disable-message a:focus,
#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}

.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}

.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  border-radius: 8px;
  color: white;
}

/* =============================================================================
   
   STYLING SPECIFIC TO OVERLAY
   
   ========================================================================== */
div#overlay {
  min-width: 320px;
  max-width: 960px;
}

#overlay #page {
  padding: 2em;
}

/* =============================================================================

   STYLES SPECIFIC TO CONTRIBUTED MODULES
   navbar, ctools, media, views, views UI, panels, panelizer, workbench
   
   ============================================================================= */
/* Navbar (coming soon) */
/* Ctools */
.ctools-button-processed {
  background-color: white;
  border: 1px solid #ddd;
  font-size: inherit;
  padding-bottom: 0;
  padding-top: 0;
}

.ctools-button-processed input {
  color: #2fa6e5;
  text-shadow: none;
}

.ctools-button-processed input:hover {
  color: #2fa6e5;
  text-shadow: none;
}

.ctools-button-processed li {
  line-height: 1em;
  background-color: white;
  border: 0px solid transparent;
}

.ctools-content ul.actions .right {
  background-color: white;
}

/* VIEWS */
.views-admin ul,
.views-admin menu,
.views-admin dir {
  padding: 0;
}

.views-admin pre {
  margin-bottom: inherit;
  margin-top: inherit;
  white-space: inherit;
}

.views-group-box .form-item {
  margin-left: inherit;
  margin-right: inherit;
}

.views-displays .secondary {
  border-bottom: 0 none;
  margin: 0;
  overflow: visible;
  padding: 0;
}

.views-displays .secondary > li {
  border-right: 0 none;
  padding: 0;
}

.views-displays .secondary .action-list {
  top: inherit;
}

.views-display-tab .fieldset-legend {
  left: 0;
}

.views-display-tab .fieldset-wrapper > .views-ui-display-tab-bucket .actions {
  right: 0;
  top: 0;
}

.views-display-columns > * {
  margin-left: 0;
  padding-left: 0;
  padding-right: 1em;
}

.views-display-columns > *:first-child {
  margin-left: 0;
  padding-left: 0;
}

.views-ui-dialog .ui-dialog-titlebar-close {
  border: 0px solid transparent;
  top: 0;
}

.box-padding {
  padding-left: 0;
  padding-right: 0;
}

.box-margin {
  margin: 0;
}

.views-admin .icon.linked {
  background-position: center -157px;
}

.views-admin .icon.unlinked {
  background-position: center -199px;
}

.views-admin .icon.add {
  background-position: center 7px;
}

.views-admin a.icon.add {
  background-position: center 7px, left top;
}

.views-admin .icon.delete {
  background-position: center -56px;
}

.views-admin a.icon.delete {
  background-position: center -56px, left top;
}

.views-admin .icon.rearrange {
  background-position: center -115px;
}

.views-admin a.icon.rearrange {
  background-position: center -115px, left top;
}

.views-admin span.icon {
  float: none;
}

.views-displays .secondary a:hover > .icon.add {
  background-position: center 7px;
}

.views-displays .secondary .open a:hover > .icon.add {
  background-position: center 7px;
}

/*.form-item {
  margin-top: 0;
}
.form-type-checkbox {
  margin-top: 0;
}
.container-inline {
  padding-top: 0;
}*/
.views-admin fieldset fieldset.container-inline {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

.views-admin fieldset fieldset.container-inline > .fieldset-wrapper {
  padding-bottom: 0;
}

.views-admin .form-type-checkbox + .form-wrapper {
  margin-left: 0;
}

.views-admin .form-type-checkbox label,
.views-admin .form-type-radio label {
  line-height: inherit;
}

.views-admin-dependent .form-item {
  margin-bottom: 0;
  margin-top: 0;
}

.horizontal > * + * {
  margin-left: 0;
  padding-left: 0;
}

.views-ui-view-title {
  font-weight: inherit;
}

.view-changed {
  margin-bottom: 0;
}

.views-admin h1.unit-title {
  font-size: 2.5em;
  line-height: normal;
  margin-top: 0em;
}

.form-item-description-enable label {
  font-weight: inherit;
}

.form-item-page-create,
.form-item-block-create {
  margin-top: inherit;
}

.form-item-page-create label,
.form-item-block-create label {
  font-weight: inherit;
}

.views-attachment .options-set label {
  font-weight: inherit;
}

td.group-title {
  font-weight: inherit;
}

.views-ui-dialog td.group-title span {
  height: inherit;
}

.views-operator-label {
  font-weight: 500;
}

.grouped-description,
.exposed-description {
  padding-top: 0;
  padding-right: 0;
}

.views-displays {
  border: 0px solid transparent;
  padding-bottom: 0;
}

.views-display-top {
  background-color: transparent;
  border: 0px solid transparent;
  padding: 0;
  border-bottom: 1px solid #999;
  margin-bottom: 1em;
  height: 2.8em;
}

.ctools-button-processed {
  font-size: 1em;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.views-display-top .ctools-button-processed {
  right: 0;
}

.views-display-top .secondary {
  margin-right: 0;
}

.views-display-top .secondary > li {
  margin-right: 1em;
}

#views-display-extra-actions li {
  padding: 0;
}

ul#views-display-menu-tabs li {
  padding: 0;
  margin: 0 1em 0 0;
  color: #333333;
  line-height: 2.5em;
  text-shadow: none;
  background-color: #3b3b3b;
  border-radius: 0;
}

.views-displays .secondary a {
  border: 0px solid transparent;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  color: white;
}

.views-displays ul.secondary li.active a.active.error,
.views-displays .secondary a.error {
  border: 0;
  color: #cb2026;
}

.views-displays .secondary a:hover,
.views-displays .secondary .active a {
  background-color: inherit;
  color: #333333;
  border: 0px solid transparent;
}

.views-displays .secondary .open > a {
  background-color: inherit;
  border: 0px solid transparent;
}

.views-displays .secondary .open > a:hover {
  background-color: inherit;
}

.views-displays .secondary .action-list li {
  background-color: inherit;
  border: 0px solid transparent;
  padding: 0px;
}

#edit-display-settings-title {
  font-size: 14px;
  line-height: inherit;
  margin: 0;
}

#edit-display-settings-top {
  padding-bottom: 0px;
}

#edit-display-settings-content {
  margin-top: 0px;
}

#edit-display-settings-main {
  margin-top: 0px;
}

.views-display-column + .views-display-column {
  margin-top: 0;
}

#views-ui-preview-form .form-type-checkbox {
  margin-top: 0px;
  margin-left: 0px;
  float: none;
}

#views-ui-preview-form .form-type-textfield {
  margin-top: 0;
  display: inline-block;
}

#views-ui-preview-form .arguments-preview {
  font-size: inherit;
}

#views-ui-preview-form .arguments-preview,
#views-ui-preview-form .form-type-textfield {
  margin-left: 0px;
}

#views-ui-preview-form .form-type-textfield label {
  float: none;
  font-weight: normal;
  height: inherit;
  margin-right: 0;
}

#views-ui-preview-form .form-type-textfield .description {
  white-space: normal;
  max-width: 300px;
}

.views-ui-display-tab-bucket {
  border: 0px solid transparent;
  line-height: inherit;
  padding-top: 0px;
}

.views-ui-display-tab-bucket + .views-ui-display-tab-bucket {
  border-top: 0px solid transparent;
}

.views-ui-display-tab-bucket > h3,
.views-ui-display-tab-bucket > .views-display-setting {
  padding: inherit;
}

.views-ui-display-tab-bucket h3 {
  font-size: inherit;
  margin: .5em 0;
  font-weight: 900;
  border-top: 1px solid #ddd;
  padding: .5em 0 0;
}

.views-ui-display-tab-bucket .horizontal.actions {
  margin-right: 0px;
}

.views-ui-display-tab-bucket .actions.horizontal li + li {
  margin-left: 0px;
  padding-left: 0px;
}

.views-ui-display-tab-bucket.access {
  padding-top: 0;
}

.views-ui-display-tab-bucket.page-settings {
  border-bottom: medium none;
}

.views-display-setting .views-ajax-link {
  margin-left: 0em;
  margin-right: 0em;
}

.views-ui-display-tab-bucket .views-display-setting {
  color: inherit;
  font-size: inherit;
  padding-bottom: 0px;
}

.views-ui-display-tab-bucket .even {
  background-color: transparent;
}

.views-ui-display-tab-bucket .views-group-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.views-display-setting .label {
  margin-right: .5em;
}

#edit-displays-preview-controls .fieldset-wrapper > .form-item {
  margin-top: 0em;
  display: block;
}

#edit-displays-preview-controls .form-submit {
  margin-right: 0em;
  display: block;
}

#views-ui-preview-form > div > div {
  display: block;
  margin: 2.2em .5em 0 0;
}

#edit-displays-preview-controls .form-type-textfield {
  margin-left: 0em;
}

#edit-displays-preview-controls .form-type-textfield label {
  border-left: 0px solid transparent;
  padding-left: 0em;
}

#edit-displays-preview-controls .form-type-textfield label:after {
  content: ":";
}

.views-ui-dialog {
  font-size: inherit;
  padding: 0;
}

.views-ui-dialog .ui-dialog-titlebar-close {
  display: none;
}

.views-ui-dialog .ui-dialog-titlebar-close span {
  display: block;
}

.views-filterable-options .form-type-checkbox {
  border: 0px solid transparent;
  padding: 0;
}

.views-filterable-options {
  border-top: 0px solid transparent;
}

.views-filterable-options .even .form-type-checkbox {
  background-color: transparent;
}

#views-filterable-options-controls {
  margin: 0em 0;
}

.views-ui-dialog .views-filterable-options {
  margin-bottom: 0px;
  line-height: 2em;
}

#views-filterable-options-controls input,
#views-filterable-options-controls select {
  display: inline-block;
}

.views-ui-dialog #edit-selected {
  margin: 0;
  padding: 0;
}

.views-ui-dialog #views-ajax-title,
.views-ui-dialog .views-override {
  background-color: transparent;
}

.views-ui-dialog .views-override {
  padding: 0 2em 1em;
  border-bottom: 1px solid #ccc;
}

.views-ui-dialog .views-override > * {
  margin: 0;
}

.views-ui-dialog #views-ajax-title {
  font-size: 2em;
  padding: .5em;
  display: block;
  margin: 0;
  background: #303030;
  color: white;
}

.views-ui-dialog fieldset .form-item {
  margin: .5em 1em;
}

.views-ui-dialog #views-progress-indicator {
  font-size: inherit;
  right: 0;
  top: 0px;
}

.views-ui-dialog #views-progress-indicator:before {
  content: "\003C\00A0";
}

.views-ui-dialog #views-progress-indicator:after {
  content: "\00A0\003E";
}

.views-ui-dialog .scroll {
  border: 1px solid #CCC;
  border-width: 0;
  padding: 1em 2em 3em;
}

.views-ui-dialog fieldset .item-list {
  padding-left: 2em;
}

.views-ui-dialog #edit-options {
  float: none;
  display: block;
  width: auto;
}

.views-ui-dialog .form-buttons {
  background-color: #F3F4EE;
  padding: 1.5em 2em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.form-type-checkboxes #edit-options-value,
.form-type-checkboxes #edit-options-validate-options-node-types {
  border: 0px solid transparent;
  margin-top: inherit;
  padding: inherit;
}

#views-ui-rearrange-filter-form tr td[rowspan] {
  border: 0px solid transparent;
}

#views-ui-rearrange-filter-form tr[id^="views-row"] {
  border-right: 0px solid transparent;
}

#views-ui-rearrange-filter-form tr[id^="views-row"].even td {
  background-color: transparent;
}

#views-ui-rearrange-filter-form .views-group-title {
  border-top: 0px solid transparent;
}

#views-ui-rearrange-filter-form .group-empty {
  border-bottom: 0px solid transparent;
}

.form-item-options-expose-required,
.form-item-options-expose-label,
.form-item-options-expose-description {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

#views-preview-wrapper {
  border: 0px solid transparent;
  padding: 0px;
}

#views-ui-preview-form {
  margin: 0px;
}

#views-live-preview {
  margin: 0px;
}

#views-live-preview h1.section-title {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

#views-live-preview .view > * {
  margin-top: 0px;
}

#views-live-preview .preview-section {
  border: 1px dashed #DEDEDE;
  margin: 0px;
  padding: 0px;
}

#views-live-preview li.views-row + li.views-row {
  margin-top: 0px;
}

#views-live-preview div.views-row + div.views-row {
  margin-top: 0px;
}

.views-query-info table {
  border-color: inherit;
  border-spacing: 0;
  margin: inherit;
}

.views-query-info table tr {
  background-color: inherit;
}

.views-query-info table th,
.views-query-info table td {
  color: inherit;
  padding: 0px;
}

#views-live-preview .view-content > .item-list > ul {
  padding-left: 0px;
}

#edit-options-exception.collapsible {
  margin-top: 0;
}

/* Hide the drupal system throbber image */
.ajax-progress .throbber {
  display: none;
}

#views-ajax-body form {
  margin: 1em 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 2.4em;
}

ul#views-display-menu-tabs {
  margin-top: .5em;
}

ul#views-display-menu-tabs li {
  background-color: transparent;
  color: #333333;
  border-bottom: 4px solid transparent;
  border-radius: 0;
}

.views-displays .secondary a {
  color: #333333;
}

.views-displays .secondary .active a,
.views-displays .secondary .active a:hover {
  color: #333333;
  border-bottom: 4px solid;
  border-color: #f05724;
}

.views-displays .secondary .action-list {
  background: #fff;
  border: 1px solid #ddd;
  padding: .5em;
}

.action-list input.form-submit {
  color: #2fa6e5;
  padding: 0;
  margin: 0;
}

.views-displays .secondary .action-list input.form-submit {
  color: #333333;
  text-shadow: none;
  font-weight: normal;
}

/* PANELS */
.dashboard-content {
  padding: 0;
}

.dashboard-title {
  font-weight: 300;
  font-size: 2em;
  margin-bottom: .5em;
}

.dashboard-entry .dashboard-link {
  font-size: 120%;
  font-weight: normal;
}

.ctools-button-processed {
  border: 0;
  background: white;
}

.ctools-button-processed li {
  background: transparent;
}

/**
 * Enlarge dropbutton arrow
 */
.ctools-twisty {
  border-width: 6px 6px 0;
  right: 4px;
}

.ctools-dropbutton-processed.open .ctools-twisty {
  border-bottom: 6px solid;
  top: 0.3em;
}

.dashboard-block {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.panels-dashboard .links {
  margin-top: 0;
}

div.dashboard-block {
  /* panels dashboard, not dashboard */
  padding: 0;
  background: transparent;
  border: 0px solid transparent;
  margin-bottom: 0;
}

dl.page-manager-wizards {
  background: url("../images/list-item.png?1377114396") no-repeat scroll 0 0 transparent;
  margin: 0 0 1em;
  padding: 0 0 0 2.5em;
}

dl.page-manager-wizards dt {
  font-size: 1em;
  font-weight: 500;
}

dl.page-manager-wizards dd {
  margin-left: 0;
}

#page-manager-edit .page-manager-wrapper,
#page-manager-edit .page-manager-tabs,
#page-manager-edit .page-manager-edit-operations ul,
#page-manager-edit .page-manager-edit-operations ul li {
  background-color: transparent;
  border: 0px solid transparent;
}

#page-manager-edit .page-manager-edit-operations .inside {
  border: 0px solid transparent;
}

#page-manager-edit .page-manager-edit-operations li {
  background: transparent;
  border: 0px solid transparent;
}

#page-manager-edit .page-manager-edit-operations li.changed,
#page-manager-edit .page-manager-edit-operations li.changed-group .page-manager-group-title {
  background-color: transparent;
  border: 0px solid transparent;
}

#page-manager-edit table tr.even {
  background-color: transparent;
  border: 0px solid transparent;
}

#page-manager-edit .page-manager-ajax-pad {
  background: transparent;
  border-left: 1px solid #ddd;
}

#page-manager-edit .actions li a {
  color: inherit;
  background-color: transparent;
  border: 0px solid transparent;
}

#page-manager-edit .page-manager-changed {
  float: left;
  /* LTR */
  font-style: italic;
  color: inherit;
  padding-left: 1em;
  padding-right: 22px;
  background: none;
  background-color: transparent;
  border: 0px solid transparent;
}

#page-manager-list-pages-form .form-select,
#page-manager-list-pages-form input,
#ctools-export-ui-list-form .form-select,
#ctools-export-ui-list-form input {
  display: inline-block;
}

#page-manager-list-pages-form .form-item,
#ctools-export-ui-list-form .form-item {
  padding-right: .25em;
  float: none;
  display: inline-block;
}

#edit-pages-apply,
#edit-pages-reset,
#ctools-export-ui-list-form .form-submit {
  margin-top: 0;
  float: none;
}

body form#page-manager-list-pages-form,
body form#ctools-export-ui-list-form {
  margin: 1em 0;
}

/* MEDIA */
/* Media - Field widget */
.media-widget {
  padding: 9px 0;
  margin: 0 10px 10px 0;
}

.media-widget:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.media-widget .form-item {
  margin: 0;
  padding-bottom: 0;
}

.media-widget .preview {
  background: #CCC;
  min-height: 110px;
  min-width: 110px;
  margin-right: 10px;
  border: 1px solid #CCC;
  float: left;
}

.media-widget .preview .media-item {
  margin: 0;
  border: 0;
}

.media-widget .button {
  display: block;
}

.media-thumbnails-select {
  float: left;
  margin: 1em 0;
  clear: both;
}

#media-browser-library-list {
  clear: both;
  float: left;
}

.media-list-thumbnails .form-type-checkbox {
  bottom: 138px;
  left: 2px;
}

.media-list-thumbnails img,
.media-list-thumbnails label {
  margin: 0;
}

.media-item .label-wrapper {
  text-align: left;
  bottom: 0;
  left: 5px;
  margin: 0;
  width: 90%;
  overflow: hidden;
}

.media-item {
  background: #eee;
  border: 1px solid #CCCCCC;
  padding: 18px;
}

/* Media - Media browser */
#media-browser-tabset #branding {
  padding: 10px 0 0 10px;
}

#media-browser-tabset ul.tabs.primary li {
  margin-right: 0;
  margin-left: .2em;
}

#media-browser-tabset ul.tabs.primary li a:link {
  position: relative;
  top: 1px;
  font-size: 1.2em;
  font-weight: normal;
  padding: .5em 1em;
  margin: 0;
  background: rgba(0, 0, 0, 0.06);
  border: 0px solid rgba(0, 0, 0, 0);
  color: #555;
  vertical-align: text-bottom;
  border-radius: 0;
}

#media-browser-tabset ul.tabs.primary li.ui-state-active a {
  background: transparent;
  border: 0px solid transparent;
  border-bottom: 0px solid transparent;
  color: #303030;
}

#media-browser-page .button {
  margin: 1em .5em 1em 0;
  min-width: 80px;
  font-size: 1.1em;
  color: #303030;
  border: 1px solid #DDD;
  border-radius: 4px;
  cursor: pointer;
  height: 2.2em;
  margin-right: 0.5em;
  padding: 6px 17px;
  text-align: center;
}

/* WORKBENCH */
div.admin.my-workbench .left,
div.admin.my-workbench .right {
  margin: 0;
}

/* FEATURES */
form div.buttons {
  text-align: left;
}

/* =============================================================================

   MEDIA QUERIES
   
   ========================================================================== */
@media (max-width: 960px) {
  /* dashboard */
  div#dashboard_sidebar {
    clear: both;
    margin: 0;
    width: 100% !important;
  }

  #dashboard div#dashboard_main {
    clear: both;
    margin-right: 0%;
    width: 100%;
  }

  /* configuration page */
  div.admin .right, div.admin .left {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  #overlay #page {
    margin: 0;
    padding: 1em;
  }

  #overlay {
    padding: 1em;
  }

  div#overlay {
    width: 100%;
  }

  body.admin-expanded {
    margin-left: 0;
  }

  #toolbar .screen-reader-text {
    display: none;
  }

  body.admin-expanded div#admin-toolbar {
    width: 100%;
  }

  body.admin-expanded div#admin-toolbar.vertical div.admin-blocks {
    width: 100% !important;
  }

  #tab-bar {
    display: none;
  }

  /* form elements */
  label {
    margin: .25em 0;
  }

  .form-item {
    display: block;
    width: 100%;
  }

  input.form-button-disabled,
  input.form-button-disabled:active {
    float: none;
    width: 100%;
    margin: 1em 0;
  }

  #edit-submit,
  .form-submit,
  input.form-autocomplete,
  input.form-text,
  input.form-file,
  textarea.form-textarea,
  select.form-select {
    min-width: 100% !important;
    max-width: 100% !important;
    /* form-text overflows the page in chrome. should be fixed in core */
    float: none;
    margin: 1em 0;
  }

  input.form-text:focus,
  input.form-file:focus,
  textarea.form-textarea:focus,
  select.form-select:focus {
    width: 100%;
    float: none;
    margin: 1em 0;
  }

  /* dashboard */
  #dashboard div#dashboard_main {
    clear: both;
    margin-right: 0%;
    width: 100%;
  }

  div#dashboard_sidebar {
    clear: both;
    margin: 0;
    width: 100% !important;
  }

  /* configuration page */
  div.admin .right, div.admin .left {
    margin: 0;
    width: 100%;
  }

  /* appearance page */
  .system-themes-list-enabled .theme-selector .screenshot, .system-themes-list-enabled .theme-selector .no-screenshot {
    clear: both;
    margin: 0 40px 20px 0;
  }

  .system-themes-list-disabled .theme-selector {
    float: left;
    padding: 0 20px 20px 0;
    width: 300px;
  }

  .color-form #placeholder {
    position: relative;
  }

  html.js #preview {
    margin-left: -15px;
  }

  /* vertical tabs */
  div.vertical-tabs {
    background: url('../images/fc.png?1377114396') repeat-y scroll -97px 0 white;
    border: 1px solid #ddd;
  }

  div.vertical-tabs .vertical-tabs-list {
    width: 143px;
  }

  div.vertical-tabs .vertical-tabs-panes {
    margin: 0 0 0 163px;
  }

  /* workbench */
  div.admin.my-workbench .left,
  div.admin.my-workbench .right {
    float: none;
    width: 100%;
  }

  div.admin.my-workbench .left {
    margin-bottom: 20px;
  }

  div.admin.my-workbench .left .views-field-picture {
    float: left;
  }

  div.admin.my-workbench .left .views-field-name,
  div.admin.my-workbench .left .views-field-edit-node {
    text-align: right;
  }
}
.search-block-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.theme-info h3 {
  font-size: 1.77778em;
}

/* =============================================================================

   FADE IN ON PAGELOAD
   
   ========================================================================== */
/*@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.3s;
  -moz-animation-duration:.3s;
  animation-duration:.3s;

  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; 
}*/
